<header>
    <h1>如影随形</h1>
    <h2>影子是一个会撒谎的精灵，它在虚空中流浪和等待被发现之间;在存在与不存在之间....</h2>
    <div class="logo"><a href="#"></a></div>
    <nav id="topnav">
        {if $rightarr}
            <a href="../../Home/index.html">首页</a>
            {foreach $rightarr as $v}
                {if $v.pid==0}
                <a href="/List/{$v.categoryid}/1.html">{$v.name}</a>
                {/if}
            {/foreach}
        {else}
        <a href="#">首页</a>
        <a href="javascript:void(0)">关于我</a>
        <a href="javascript:void(0)">我记忆中的</a>
        <a href="javascript:void(0)">技术分享</a>
        <a href="javascript:void(0)">技术资源</a>
        {/if}

    </nav>
</header>