<!--左侧菜单栏 begin-->
<div class="sidebar-wrap">
    <div class="sidebar-title">
        <h1>菜单</h1>
    </div>
    <div class="sidebar-content">
        <ul class="sidebar-list">
            <li>
                <a href="#"><i class="icon-font">&#xe003;</i>常用操作</a>
                <ul class="sub-menu">
                    <li><a href="?c=Category&a=index"><i class="icon-font">&#xe008;</i>分类管理</a></li>
                    <li><a href="?a=index&c=Article"><i class="icon-font">&#xe005;</i>博文管理</a></li>
                    <li><a href="#"><i class="icon-font">&#xe012;</i>评论管理</a></li>
                    <li><a href="#"><i class="icon-font">&#xe052;</i>推荐文章</a></li>
                    <li><a href="#"><i class="icon-font">&#xe052;</i>用户管理</a></li>
                    <li><a href="?a=index&c=Article"><i class="icon-font">&#xe052;</i>文章后审核</a></li>
                    <li><a href="?a=tohtml&c=Article"><i class="icon-font">&#xe052;</i>生成静态html</a></li>
                    <!--文章后审核主要是针对封面图片和文章内容进行审核,对不满足的文章进行屏蔽处理-->
                </ul>
            </li>
            <li>
                <a href="#"><i class="icon-font">&#xe018;</i>系统管理</a>
                <ul class="sub-menu">
                    <li><a href="#"><i class="icon-font">&#xe017;</i>系统设置</a></li>
                    <li><a href="#"><i class="icon-font">&#xe046;</i>数据备份</a></li>
                    <li><a href="#"><i class="icon-font">&#xe045;</i>数据还原</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!--左侧菜单栏 begin-->